# EDA of Adult Data

Joel, Yaniv, Jeff<br>
Merck Challenge - Project 2<br>
Rutgers MSDS<br>
2/4/21<br>

Items to Check for EDA:  
1. Data loading and checking  
2a. Numerical summaries  
2b. Graphical summaries  
3. Extract important variable(s) and analyze them  
3a. Check for outliers and missing data  
(Note: Did not include a on outliers (yet), as should determine the threshold of removing outliers first. I would suggest checking the jackknife residuals (refer to HW #6 from reg & TS))(EDIT: might be different for GLMs...)  
3b. Develop and test simple models  
3c. Test model assumptions

Q: How much EDA should we do? (e.g. doing summaries of a few vs all variables, using some vs all of Yaniv's EDA code, etc.)

In [1]:
### Preliminaries
import pandas as pd # essential for data analysis
import numpy as np # gives tools for working with arrays
import matplotlib.pyplot as plt # useful for plots in general
import seaborn as sns # needed for histograms
import pylab as pyl #for generating plots: show()
import statsmodels.api as sm  #to use the Logit()
import collections

In [2]:
# Loading and Checking Data
!pwd
  # type and enter pwd and see if dataset is in same directory
data = pd.read_csv("/Users/yanivbronshtein/Downloads/adult.data")  # type and enter pwd and see if dataset is in same directory

#renaming columns
new_names =["age","workclass","fnlwgt","education","education.num","marital.status","occupation","relationship","race","sex","capital.gain","capital.loss","hours.per.week","native.country","salary"]


data = data.rename(columns={i:j for i,j in zip(data.columns,new_names)})


data[20:30]

/Users/yanivbronshtein/Coding/Rutgers/MerckChallengeIMLRepo

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,salary
20,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
21,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
22,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
23,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
24,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
25,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
26,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
27,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
28,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K

In [3]:
data.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32560.000000,3.256000e+04,32560.000000,32560.000000,32560.000000,32560.000000
mean,38.581634,1.897818e+05,10.080590,1077.615172,87.306511,40.437469
std,13.640642,1.055498e+05,2.572709,7385.402999,402.966116,12.347618
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178315e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783630e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370545e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [4]:
data.shape

(32560, 15)

In [5]:
data.std()

age                   13.640642
fnlwgt            105549.764924
education.num          2.572709
capital.gain        7385.402999
capital.loss         402.966116
hours.per.week        12.347618
dtype: float64

In [6]:
data.info() # info about each variable

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
age               32560 non-null int64
workclass         32560 non-null object
fnlwgt            32560 non-null int64
education         32560 non-null object
education.num     32560 non-null int64
marital.status    32560 non-null object
occupation        32560 non-null object
relationship      32560 non-null object
race              32560 non-null object
sex               32560 non-null object
capital.gain      32560 non-null int64
capital.loss      32560 non-null int64
hours.per.week    32560 non-null int64
native.country    32560 non-null object
salary            32560 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

**Replace ? with NA**

In [7]:
data.isnull().any() # check if any missing data
# replace ? values with NaN
#print(data.loc[[26]]) getting data from row 26


val = data.at[26,'workclass']
for col in data:
    data[col]= data[col].replace([val],np.nan)
print(data.isnull().any()) 
data[20:40]

age               False
workclass          True
fnlwgt            False
education         False
education.num     False
marital.status    False
occupation         True
relationship      False
race              False
sex               False
capital.gain      False
capital.loss      False
hours.per.week    False
native.country     True
salary            False
dtype: bool

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,salary
20,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
21,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
22,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
23,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
24,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
25,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
26,54,NaN,180211,Some-college,10,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
27,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
28,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
30,20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
31,45,Private,386940,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K
32,30,Federal-gov,59951,Some-college,10,Married-civ-spouse,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
33,22,State-gov,311512,Some-college,10,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,15,United-States,<=50K
34,48,Private,242406,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,Puerto-Rico,<=50K
35,21,Private,197200,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
36,19,Private,544091,HS-grad,9,Married-AF-spouse,Adm-clerical,Wife,White,Female,0,0,25,United-States,<=50K
37,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,NaN,>50K
38,48,Self-emp-not-inc,265477,Assoc-acdm,12,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
39,31,Private,507875,9th,5,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,43,United-States,<=50K

## Deep Learning Model Datawig for imputation attempt (not used in final presentation)

In [8]:
#skip this for now
#split dataframe w/ isna boolean operator on column workclass for imputation

#testing_workclass = data[data['workclass'].isin([np.nan])]
#training_workclass = data.merge(testing_workclass, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']
#training_workclass.head(3)

In [ ]:
# setting category for workclass 
#data['workclass'] = data['workclass'].astype('category')
#data['workclass'].dtype
#training_workclass.head()

In [ ]:
# skip this for now 
#datawig
#imputer = datawig.SimpleImputer(
#    input_columns=[' age'], # column(s) containing information about the column we want to impute
#    output_column= 'workclass', # the column we'd like to impute values for
#    output_path = "imputer_model"
#)
#imputer = imputer.fit(train_df = training_workclass, test_df = testing_workclass)
#imputations = imputer.predict(testing_workclass)

#Impute missing values and return original dataframe with predictions
#imputed = imputer.predict(df_test)

In [ ]:
# skip
# df_train = training_workclass
# df_test = testing_workclass

# imputer = datawig.SimpleImputer(
#     input_columns=['age'], # column(s) containing information about the column we want to impute
#     output_column= 'workclass', # the column we'd like to impute values for
#     output_path = 'imputer_model' # stores model data and metrics
#     )
# imputer.fit(train_df=df_train, num_epochs=50)

# #Impute missing values and return original dataframe with predictions
# #imputed = imputer.predict(df_test)
#imputed = imputer.predict(data.loc[[26]])
#imputed.loc[[26]]

## Working version using sklearn SimpleImputer

In [ ]:
# use sklearn package for imputation. strategy is univariate 
#since multivariate is experimental and datawig will be a much better choice
from sklearn.impute import SimpleImputer
#imp = SimpleImputer(strategy='most_frequent')
#imp.fit(data)


fill_NaN = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputed_DF = pd.DataFrame(fill_NaN.fit_transform(data))
imputed_DF.columns = data.columns
imputed_DF.index = data.index

## Convert response variable to numeric

In [ ]:
data['salary'] = data['salary'].astype('category')
data['salary'].dtype
#changing categorical data to numerical]
data[col]= data[col].replace([val],np.nan)
imputed_DF['salary'] = imputed_DF['salary'].replace([" <=50K"],0)
imputed_DF['salary'] = imputed_DF['salary'].replace([" >50K"],1)

imputed_DF

In [ ]:
### NEW INFO ###
## Correlation matrix
data.corr()

In [ ]:
var = "salary" # defining and checking descriptive stats of variable of interest
series = data[var]

In [ ]:
print("Mean: {}".format(series.mean()))
print("Stdev: {}".format(series.std()))
print("Min: {}".format(series.min()))
print("Max: {}".format(series.max()))
print("Median: {}".format(series.median()))
print("Mode: {}".format(series.mode()))
print("Skew: {}".format(series.skew()))
print("Kurtosis: {}".format(series.kurtosis()))

In [ ]:
### Graphical Summaries
## Scatterplots
sns.scatterplot(x = "age", y = "salary", data = data)

In [ ]:
sns.scatterplot(x = "sex", y = "salary", data = data)

In [ ]:
sns.scatterplot(x = "hours.per.week", y = "salary", data = data)

In [ ]:
sns.scatterplot(x = "education.num", y = "salary", data = data) # used for testing continous DV
# Note: could also use just education, too, but then have to turn strings into binary

In [ ]:
sns.pairplot(data = data)
# Q: How to zoom in on particular plots?

In [ ]:
## Boxplots
sns.boxplot(x='sex', y='salary', data= data)

In [ ]:
sns.boxplot(x='age', y='salary', data= data)

In [ ]:
sns.boxplot(x='hours.per.week', y='salary', data= data)

In [ ]:
# Get variable names

def getvar(x):
    for i in x:
        print(i)

In [ ]:
getvar(data)

In [ ]:
# Histograms
# Note: See cell 22 in Yaniv's EDA notebook

print(min(data['age']))
print(max(data['age'])) # used to check if increasing or decreasing bins is needed
data['age'].hist(bins=30)

In [ ]:
print(min(data['fnlwgt']))
print(max(data['fnlwgt'])) # used to check if increasing or decreasing bins is needed
data['fnlwgt'].hist(bins=30)

In [ ]:
print(min(data['education.num']))
print(max(data['education.num'])) # used to check if increasing or decreasing bins is needed
data['education.num'].hist(bins=30)

In [ ]:
print(min(data['capital.gain']))
print(max(data['capital.gain'])) # used to check if increasing or decreasing bins is needed
data['capital.gain'].hist(bins=30)

In [ ]:
print(min(data['capital.loss']))
print(max(data['capital.loss'])) # used to check if increasing or decreasing bins is needed
data['capital.loss'].hist(bins=30)

In [ ]:
print(min(data['hours.per.week']))
print(max(data['hours.per.week'])) # used to check if increasing or decreasing bins is needed
data['hours.per.week'].hist(bins=30)

In [ ]:
## Outliers (based on histograms... could also examine boxplots, if need be)
# Note: Can do it qualitatively or quantitatively... will be doing the former here. However, we can take the latter
# approach if we so desired: https://medium.com/datadriveninvestor/finding-outliers-in-dataset-using-python-efc3fce6ce32
# Q: Should use Judgement vs. IQR/Z-scores?

# Ex # 1: platelets variable
# Before
sns.scatterplot(x='	hours.per.week', y = 'salary', data=data)

In [ ]:
# After
# See cell 32 in Yaniv's EDA notebook

data = data[data['hours.per.week'] <= 80]
sns.scatterplot(x='hours.per.week', y = 'salary', data=data)

In [ ]:
# Ex #2: age variable
# Note: don't think we should exclude age, as study wanted to focus on all age groups, but just to see

# Before
sns.scatterplot(x='age', y = 'salary', data=data)

In [ ]:
# After

data = data[data['age'] <= 80]
sns.scatterplot(x='age', y = 'salary', data=data)

# Q: Which variables to ultimately include in predictive models? Important to know since they may need to be adjusted for outliers